{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/base.html' %}


{% block content %}
{% include 'layouts/hidden_third_party_nav.html' %}

<article class="project">

<div class="aside mobile-aside"></div>

 <div id="map"></div>

 <div class="legend">
   <p>Legend</p>
   <ul>
     <li>
       <span class="box" style="background-color:#238B45;"></span>
       <span class="scale">Scale 1</span>
     </li>
     <li>
       <span class="box" style="background-color:#225EA8;"></span>
       <span class="scale">Scale 2</span>
     </li>
     <li>
       <span class="box" style="background-color:#54baed;"></span>
       <span class="scale">Scale 3</span>
     </li>
     <li>
       <span class="box" style="background-color:#c73c1f"></span>
       <span class="scale">Scale 4</span>
     </li>
   </ul>
 </div>

<div class="aside desktop-aside z-depth-5">
  <div class="main-intro">
    <h1>{{ headline }}</h1>
      <div class="byline">
        <p>By <a href="#">Name</a> and <a href="#">Name</a>
        </p>
        <p>{{ pub_date }}</p>
      </div>

    <div class="intro">
      <p>Fusce ex eros, condimentum vitae odio non, dictum semper tellus. Donec viverra, ipsum eget dignissim euismod, nulla orci lacinia felis, eu sollicitudin tortor ante ac lorem. Vivamus purus dui, tincidunt sed consectetur in, mollis ac nulla. Suspendisse ipsum libero, auctor ut enim eu, eleifend placerat purus. Donec eget congue mi. Donec justo sapien, commodo finibus nisl ac, viverra cursus libero. Proin semper vel tortor id facilisis.</p>

    </div>


  <div class="hide-option">
    <span>Hide <i class="fa fa-caret-up" aria-hidden="true"></i></span>
  </div>

  </div>

<div class="info-panel" id="info-panel">
  <p class="source">Source: Source goes here</p>
</div>

</div>
</article>

{% endblock %}


