// =======================
// STORY HEAD, BYLINES AND INTRO
// =======================
#topper {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
}

#topper h1 {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

#topper p {
  color:$greydk;
  font-family: $sans-serif;
  @include font-setting(16px, 110%);
  margin: 1rem auto 2rem;
  max-width: 600px;

  @include tablet {
    margin: 1.2rem auto;
    padding-left:3%;
    padding-right:3%;
  }

}

.topper--visual {
  margin: 0 0 15px;
  position: relative;

  @media screen and (min-width:1025px) {
    max-height: 600px;
    overflow: hidden;
  }

  img {
    margin-bottom: .3rem;
    width: 100%;
  }

  p{
    color:$white !important;
    @include tablet{
      color:$greydk !important;
    }
  }

}

.topper--inner {
  font-family: $serif;
  margin: 0 auto;
  text-align: center;
  max-width: 700px;
  left: 0;
  right: 0;
  top: 50%;

  .shareline li i{
    color: $white;
    @include tablet{
      color:$greydk;
    }
  }

  @media screen and (max-width:950px) {
    top: 42%;
  }

  @media screen and (min-width:769px) {
    position: absolute;

    h1 {
      color: $white;
      text-shadow: 1px 1px 1px $greydk;
    }
  }
}

#topper .topper--byline {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;

  span{
    font-family:$sans-serif;
    color: $byline-color;
    font-size: 12px;
    font-weight: $bold;
    margin:.5rem auto;
    letter-spacing:1;
    a{
      text-transform:uppercase;
    }
    
  }
  
  time{
    font-family:$sans-serif;
    color: $timestamp-color;
    font-size: 12px;
    font-weight: $semibold;
    margin-left:15px;
    letter-spacing:1;
    text-transform:uppercase;
  }
}


// ==========================
// HEADER
// ==========================
.nav-holder {
  margin-bottom: 50px;
}

.nav {
  background: $greydk;
  color: $white;
  font-family: $sans-serif;
  text-align: left;
  position: fixed;
  margin-bottom: 50px;
  top: 0;
  width: 100%;
  height: 56px;
  z-index: 9999;

  .inner-nav {
    margin: 0 auto 56px;
    position: relative;

    a {
      color: $white;
      text-decoration: none;
    }
  }
}

// legacy site nav
.nav .inner-nav .nav-bars:hover .nav-root {
  animation: fade .2s linear;
  display: block;
}

.nav .inner-nav ul.nav-root {
  display: none;
  font: 600 12px $sans-serif;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 16px 0 0;
  position: absolute;
  text-transform: uppercase;
  top: 34px;
  width: auto;

  @include mobile {
    font-size: 11px;
  }
}

.nav .nav-bars {
  margin:4px 0 4px 30px;
  float:left;
  width:48px;
  height:48px;
  @include mobile{
    margin:4px 0 4px 1px;
  }
  i{
    cursor: pointer;
    font-size: 24px;
    padding-left:12px;
    padding-top:12px;
    @include mobile {
      font-size:20px;
      padding-left:14px;
      padding-top:14px;
    }

  }
}

.nav .logo {
  background-image: url('http://projects.sun-sentinel.com/images/ss-new-logo.svg');
  background-repeat: no-repeat;
  float:left;
  height: 24px;
  margin: 16px 0;
  width: 200px;

  @include tablet {
    height: 20px;
    margin: 18px 0;
    width:165px;
  }

  @include mobile{
    height:16px;
    margin:20px 0;
    width:140px;
  }
}

.nav .inner-nav ul.nav-root li.nav-item {
  background: $greydk;
  cursor: pointer;
  padding: 15px 24px 12px 15px;
  transition: background .2s linear;

  &:hover {
    background: $greymed;
  }
}

// page specific nav
.nav-list{
  float:right;
  margin:19px 30px 19px 0;
  @include tablet{
    display: none;
    list-style: none;
    margin: 15px 0 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 40px;
    width: 100%;
  }
}
.nav-label {
  display: none;

  @include tablet{
    display: inline-block;
    cursor: pointer;
    float: right;
    font-family:$sans-serif;
    font-size:16px;
    font-weight:$semibold;
    padding: 20px 30px 20px 0;
  }

  i {
    font-family: 'Font Awesome\ 5 Free';
    margin: 0 0 0 5px;
  }

  @include mobile {
    margin: 4px 1px 4px 0;
    padding:0;
    height:48px;
    width:48px;
    text-align:right;
    span{
      display:none;
    }
    i{
      font-size: 20px;
      padding-right: 14px;
      padding-top: 14px;
    }
  }
}

.nav-links {
  display: inline-block;
  float: left;
  font-family:$sans-serif;
  font-size:18px;
  font-weight:$semibold;
  padding: 0 0 0 15px;
  text-transform:uppercase;;
  
  &.active{
    color: $greymed;
  }
  &:hover {
   color: $greymed;
  }

  @include tablet{
    padding:15px;
    font-size:16px;
    background-color: $greydk;
    width: 100%;

  }

  @include mobile {
    font-size: 14px;
  }
}


@include tablet {
  .nav .nav-container:focus .nav-list {
   color: $greymed;
  }

  .nav .nav-container:active .nav-list {
    color: $greymed;
  }

  .bottom-nav{
    position:fixed;
    bottom:98px;
    left:0;
    right:0;
    text-align:center;
    z-index:2;
    border-radius:5px;
    .nav-list{
      display:block;
      width:100%;
      overflow:auto;
      white-space:nowrap;
      background-color:$greydk;
  
    }
   .nav-links{
    max-width:100%;
    background-color:$greydk;
    float:none;
    color:$white;
    width:auto;
    border-left:1px solid $white;
   }
  }
}


// =======================
// TEXT BLOCKS
// =======================
article.project .container {
  font-family: $serif;
  margin: 0 auto;
  max-width: 1400px;
  overflow: hidden;
  position: relative;
  width: 90%;
}

section {
  margin: 40px 0 10px;
}

section:first-of-type {
  margin-top: 15px;
}


.section__line {
  border: 0;
  border-top: medium double $greydk;
  color: $greydk;
  margin: 50px auto 0;
  max-width: 200px;
  padding: 0;
  text-align: center;

  &:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -.85em;
    font-size: 1.5em;
    padding: .25em;
    background: $white;
  }
}

// =======================
// IMAGES
// =======================

.imageBlock {
  width: 100%;
}

.imageBlock img {
  margin-bottom: .3rem;
  width: 100%;
}

.fullBlock,
.wideBlock {
  margin: 1rem auto;
}

.fullBlock .caption {
  padding: 0 2rem;

  @include mobile {
    padding: 0 1em 1em;
  }
}

.doubleBlock img {
  float: left;
  margin-right: 2%;
  width: 49%;
}

.doubleBlock img:last-of-type {
  margin-right: 0;
}

@media (max-width: 740px) {
  .doubleBlock img {
    float: none;
    margin-right: 0;
    width: 100%;
  }
}

a img:hover,
figure a img:hover {
  backface-visibility: hidden;
  opacity: .8;
}

.js-lazy {
  max-width: 100%;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.js-lazy.b-loaded {
  opacity: 1;
}

// =======================
// SIDE CONTENT
// =======================
.sideBlock {
  font-family: $sans-serif;
  max-width: 400px;
  width: 100%;
}

.inlineBlock {
  font-family: $sans-serif;
  margin: 1rem auto;
  max-width: 650px;
  width: 100%;
}

.graphicBlock > figcaption,
.sideBlock > figcaption {
  font-family: $sans-serif;
  font-size: 15px;
  line-height: 1.2rem;
  margin-bottom: 10px;
}

.inlineBlock h4,
.sideBlock h4,
.sideBlock h5,
.sideBlock h6 {
  font-family: $sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.inlineBlock img,
.sideBlock img {
  margin: 0 0 .3rem;
  width: 100%;
}

.rightBlock {
  float: right;
  margin: 0 0 3rem 3rem;
}

.leftBlock {
  float: left;
  margin: 0 4.8rem 4.8rem 0;
}

p.source {
  color: $greymed;
  font-family: $sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

@media (max-width: 740px) {
  .leftBlock,
  .rightBlock {
    float: none;
    margin: 1.8rem auto;
    max-width: 650px;
    width: 100%;
  }

  .graphicBlock {
    max-width: 400px;
  }
}

.smallSide {
  margin: 0 1.8rem 2.8rem 2.8rem;
  max-width: 250px;

  @media screen and (max-width:850px) {
    margin: 0 1.8rem 4.8rem 4.8rem;
  }

  @media screen and (max-width:740px) {
    float: right;
    margin: 1.8rem;
  }

  @media screen and (max-width:520px) {
    float: none;
    margin: 1.8rem auto;
  }
}

// =======================
// NDN VIDEO EMBED
// =======================
.brightcove-embed {
  // makes video responsive
  height: 0;
  margin: 1.618rem 0;
  padding-bottom: 56.25%;
  position: relative;
}

.BrightcoveExperience {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// =======================
// YOUTUBE VIDEO EMBED
// =======================
.videoBlock {
  margin: 3rem auto;
  max-width: 650px;
  width: 100%;
}

.videoWrapper {
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
}

.videoWrapper embed,
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// =======================
// GRID CONTENT
// =======================
.gridWell {
  margin: 2.8rem auto;
  width: 95%;

  h5 {
    font-family: $sans-serif;
    font-size: 24px;
    font-weight: 600;
  }

  img {
    margin-bottom: .3rem;
    width: 100%;
  }

  p {
    font-family: $sans-serif;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.gridLayout {
  float: left;
  margin-right: 2%;
}

.gridLayout:last-child {
  margin-right: 0;
}

.twoStack .gridLayout {
  width: 49%;
}

.threeStack .gridLayout {
  width: 32%;
}

.fourStack .gridLayout {
  width: 23.5%;
}

@media (max-width: 740px) {
  .gridWell {
    border-bottom: 1px solid $grey;
    border-top: 1px solid $grey;
    padding: 1rem 0;

    img {
      float: left;
      margin-right: 1rem;
      width: 50%;
    }
  }

  .fourStack .gridLayout,
  .threeStack .gridLayout,
  .twoStack .gridLayout {
    float: none;
    margin-bottom: 1.2rem;
    width: 100%;
  }

  .gridLayout:last-child {
    margin-bottom: 0;
  }
}

// =======================
// SOCIAL
// =======================
.far, .fa, .fas{
	font-family: 'Font Awesome\ 5 Free';
}
.shareline {
  display: inline-block;
  margin: 20px auto 0;
  text-align: center;

  li {
    float: left;
  }

  i {
    color: $greydk;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6em;
    line-height: 1.5em;
    width: 1.6em;
    @include mobile{
      font-size:1.2em;
    }
    &:before {
      font-family: 'Font Awesome\ 5 Free';
    }
  }
}

ul.shareline li:nth-of-type(3) {
  @include tablet {
    display: none;
  }
}

ul.shareline li i:hover {
  backface-visibility: hidden;
}

.shareline i[data-share="facebook"] {
  &:before {
    content: '\f39e';
    font-family: 'Font Awesome 5 Brands';
  }

  &:hover {
    color: $facebook;
  }
}

.shareline i[data-share="twitter"] {
  &:before {
    content: '\f099';
    font-family: 'Font Awesome 5 Brands';
  }

  &:hover {
    color: $twitter;
  }
}

[data-share="email"] {
  &:before {
    content: '\f0e0';
  }

  &:hover {
    color: $email;
  }
}

.fb_comments {
  box-sizing: border-box;
  border-top: 5px solid $sunrust;
  margin: 30px auto 0;
  max-width: 800px;
  padding: 0 15px 30px;
  }

// =======================
// CREDITS
// =======================
article.project .credits {
  display: block;
  margin: 2rem auto;
  max-width: 600px;

  p {
    display: block;
    float: left;
    font-family: $sans-serif;
    font-size: 13px;
    margin: 0 1rem 0 0;
    width: auto;
  }

  a {
    font-weight: 600;
  }
}

// =======================
// ADS
// =======================
.leaderboardAdvert {
  display: block;
  margin: 2.5rem auto;
  text-align: center;

  &:before {
    color: $greymed;
    content: 'Advertisement';
    display: block;
    font-size: 10px;
    line-height: 10px;
    position: relative;
    top: -15px;
    text-align: center;
    text-transform: uppercase;
  }

  &--container {
    height: 50px;
    width: 320px;

    @media screen and (min-width: 784px) {
      height: 90px;
      width: 728px;
    }
  }

  &--dev {
    background-color: $grey;
  }
}

.cubeAdvert {
  display: block;
  margin-top: 10px;
  text-align: left;

  @media screen and (max-width: 740px) {
    margin: 1.8rem auto;
  }

  @include mobile {
    float: none;
    margin: 0 auto;
    max-width: 300px;
    margin: 10px auto 30px;
  }

  &--container {
    height: 250px;
    width: 300px;

    &:before {
      color: $greymed;
      content: 'Advertisement';
      display: block;
      font-size: 10px;
      line-height: 10px;
      position: relative;
      top: -15px;
      text-transform: uppercase;
    }
  }

  &--dev {
    background-color: $grey;
  }
}

.shrinkycubeAdvert {
  display: block;
  margin-top: 10px;
  text-align: left;

  @include mobile {
    float: none;
    margin: 0 auto;
    max-width: 300px;
    margin: 10px auto 30px;
  }

  &--container {
    height: 250px;
    width: 300px;

    @media screen and (max-width:784px) {
      height: 50px;
      width: 320px;
    }

    &:before {
      color: $greymed;
      content: 'Advertisement';
      display: block;
      font-size: 10px;
      line-height: 10px;
      position: relative;
      top: -15px;
      text-transform: uppercase;

      @media screen and (max-width:740px) {
        display: block;
        text-align: center;
      }
    }
  }

  &--dev {
    background-color: $grey;
  }
}

@media screen and (max-width: 740px) {
  .rightBlock .shrinkycubeAdvert {
    margin: 2.5rem auto 1.8rem;
  }
}

// =======================
// RELATED CONTENT
// =======================
.related {
  margin: 1em auto;
  max-width: 900px;
}

.related a,
.related h5,
.related p {
  font-family: $serif;
}

.related h5 {
  font-family: $sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 1rem;
}

.related h6 {
  font-family: $sans-serif;
  font-size: 1.2em;
  font-weight: 600;
}

.related p {
  font-size: 1em;
  line-height: 1.2em;
  margin-top: 5px;
}

.related a {
  color: $greydk;
  cursor: pointer;
  display: block;
  float: left;
  margin-right: 5%;
  width: 30%;
}

.related a img {
  margin-bottom: .3rem;
  width: 100%;
}

.related a:hover {
  text-decoration: none;
}

.related a:last-child {
  margin-right: 0;
}

@media screen and (max-width: 600px) {
  .related a {
    float: none;
    margin: 0 0 1rem;
    width: 100%;
  }

  .related a img {
    float: left;
    width: 33%;
  }

  .related a h6,
  .related a p {
    float: right;
    width: 65%;
  }

  .related a h6 {
    font-size: 1.2em;
    line-height: 1.2em;
  }
}

// =======================
// FOOTER
// =======================
.footer--content {
  background-color: $greydk;
  padding: 10px 0 20px;
  text-align: center;

  a {
    color: $white;
  }
}

.hide--mobile {
  @include mobile {
    display: none;
  }
}

.footer--wrapper {
  background-color: $greydk;
  height: 80px;
  padding: 22px 0 0;
  width: 100%;

  a {
    margin: 0 auto;
  }
}

.footer--logo {
  background-image: url('http://interactive.sun-sentinel.com/static/img/sunsentinel-logo-reversed.svg');
  background-repeat: no-repeat;
  color: $white;
  display: block;
  height: 40px;
  margin: 0 auto;
  width: 195px;
}

.footer--content {
  a {
    margin-right: 10px;

    @media screen and (max-width:510px) {
      font-size: .8rem;
      margin-right: 5px;
    }
  }
}

.footer--content a:first-of-type {
  cursor: default;
}