.advert {
	display: block;
	margin: 30px auto 0 auto;
	
	&--leaderboard {
		width: 320px;
		height: 50px;
		
		@media screen and (min-width: 784px) {
			width: 728px;
			height: 90px;
		}
	}
	
	&--dev {
		background-color: #DCDCDC;
	}
	
	.article > &--leaderboard:first-of-type {
		margin-top: 0;
	}
}