@media print {

article.project .container {
	width: 100%;
	p, h1, h2, h3, h4, h5, h6 {
		color: #000 !important;
	}
}

#topper {
	h1, h2, p {
		color: #000 !important;
	}
}

.brightcove-embed, .advert, .nav-holder, .shareline, .credits, .related, .fb_comments, footer {
	display: none !important;
}

}
