.pull-quote {
  box-sizing: border-box;
  float: none;
  margin: 30px auto;
  max-width: 400px;
  padding: 0 15px;
  position: relative;

  &:before {
    content: '\201C';
    position: absolute;
    top: -27px;
    left: 10px;
    font-size: 20em;
    color: rgba(173, 0, 0, .2);
    z-index: -1;

    @include desktop {
      top: -10px;
    }
    @include mobile{
      font-size:15em;
    }
  }
  @include desktop {
    width: 400px;
    margin: 20px;
    max-width: none;
    float: right;
    padding: 20px 40px 10px 20px;
  }
}

.pull-quote__text {
  color: $greydk;
  font-family: $serif;
  font-weight:$bold;
  @include font-setting(30px,38px);

  @include tablet {
    @include font-setting(24px, 30px);
  }

}

article.project .container .pull-quote__speaker {
  color: $sunrust;
  font-family:$sans-serif;
  font-size: 1.2em;
  line-height: 0;
}