.subscribeText {
    width: 80%;
    background-color: #F4F4F4;
    padding: 2.0em 2em;
@include tablet{
    width:100%;
}
}

.subscribeText p {
    margin: 0 auto !important;
    font-size: 0.9rem !important;
    line-height: 1.3rem !important;
    font-family:$heading-sans-serif !important;
}

.subscribeText p:first-of-type {
    font-size: 1.2rem !important;
    line-height: 2.0rem !important;
    font-weight: bold;
    font-style: italic;
}


