h1, h2, h3, h4, h5, h6 {
  font-family: $heading-serif;
  margin: 0 0 0.25rem 0;
}

h1 {
  font-size: 54px;
  font-weight: 600;
  line-height: 60px;
  padding-top: 20px;
}

h2 {
  font-family: $heading-serif;
  font-size: 36px;
  font-weight: 600;
}

h3 {
  font-size: 27px;
  font-family: $heading-sans-serif;
}

#container > p {
  margin-top: 13px;
}

#container p {
  margin-bottom: 18px;
  font: 18px/27px $body-serif;
  color: #333;

  @include media($small-screen-down)  {
      font-size: 15px;
      line-height: 25px;
  }
}

#container > p:first-of-type:first-letter {
    display: inline-block;
    float: left;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    font-size: 51px;
    line-height: 36px;
    font-family: $body-serif;
    padding: 5px 9px 0 0;

    @media screen and (min-width:420px) {
      font-size: 60px;
      line-height: 42px;
    }
}
