// FONTS
$heading-sans-serif: 'Source Sans Pro', Arial,sans-serif;
$heading-serif: 'Source Serif Pro', Georgia, 'Droid Serif', serif;
$body-serif: 'Source Serif Pro', Georgia, 'Droid Serif', serif;

//COLORS
$black: #000;
$charcoal: #252525;
$white: #fff;

$text: #333;

$gray: #707070;
$grid-border: #cecdc6;
$ad: #dcdcdc;

// LINKS
$ss-lightred: #e03333;
$ss-red: #d80000;
$ss-maroon: #ad0000;
$ss-darkred: #78171a;

// SOCIAL
$facebook: #23408f;
$twitter: #50abda;
$email: #999;



