<div class="nav-holder">
	<div class="nav">
		<div class="inner-nav">
			<i class="nav-bars fa fa-bars" aria-hidden="true"></i>
			<a class="logo" href="http://www.sun-sentinel.com/"></a>
			<ul class="nav-root">
				<li class="nav-item">
					<a href="//www.sun-sentinel.com/news/">News</a>
				</li>
				<li class="nav-item">
					<a href="//www.sun-sentinel.com/local/broward">Broward</a>
				</li>
				<li class="nav-item">
					<a href="//www.sun-sentinel.com/local/palm-beach">Palm Beach</a>
				</li>
				<li class="nav-item">
					<a href="//www.sun-sentinel.com/local/miami-dade">Miami-Dade</a>
				</li>
				<li class="nav-item">
					<a href="//www.sun-sentinel.com/classified">Classified</a>
				</li>
				<li class="nav-item">
					<a href="//www.sun-sentinel.com/sports">Sports</a>
				</li>
			</ul>	
			<div class="nav-container bottom-nav">
	       <ul class="nav-list">
					<a href="{{link_1}}">
						<li class="nav-links">{{subitem_1}}</li>
					</a>
					<a href="{{link_2}}">
						<li class="nav-links">{{subitem_2}}</li>
					</a>
					<a href="{{link_3}}">
						<li class="nav-links">{{subitem_3}}</li>
					</a>
					<a href="{{link_4}}">
						<li class="nav-links">{{subitem_4}}</li>
					</a>
				</ul>
				
			</div>
		</div>
	</div>
</div>

