<div id="topper">
	<div class="topper--visual">
		<img src="{{ topper_img }}">
		<div class="topper--inner">
			<ul class="shareline">
				<li><i data-share="facebook"></i></li>
				<li><i data-share="twitter"></i></li>
				<li><i data-share="email"></i></li>
			</ul>
			<h1>{{ headline }}</h1>
			<p>{{ intro_text }}</p>
		</div>
	</div>

	<div class="topper--intro">

		<div class="topper--byline">
			<span>By
			{% for person in reporters %}
				<a href="{{ person.url }}">
					{{ person.name }}
				</a>
				{{ person.operator }}
			{% endfor %}
			</span>
			<time>{{ pub_date }}</time>
		</div>
	</div>
</div>