<div id="topper" class="feature-topper">
	<div class="topper--visual">
		<img src="{{ topper_img }}">
			<div class="topper--inner">
				<ul class="shareline">
					<li><i data-share="facebook"></i></li>
					<li><i data-share="twitter"></i></li>
					<li><i data-share="email"></i></li>
				</ul>
				<h1>{{ headline }}</h1>
			</div>
	</div>

	<div class="topper--intro">
		<h2>{{ intro_text }}</h2>
			<hr class="divider">
				<div class="topper--byline">
					<p>{{ reporter }}</p>
					<p>{{ pub_date }}</p>
				</div>
	</div>
</div>
