<div class="fb_comments">
	<div class="fb-comments footer__comments" data-href="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ absolute_url }}" data-numposts="5" width="100%"></div>
</div>

<footer class="footer--wrapper">
	<a class="footer--logo" href="http://www.sun-sentinel.com/"></a>
	<div class="footer--content">
		<a>&copy; <script type="text/javascript">document.write(new Date().getFullYear())</script></a>
		<a href="http://www.tronc.com/central-terms-of-service/">Terms of Service</a>
		<a href="http://www.tronc.com/privacy-policy/">Privacy<span class="hide--mobile"> Policy</span></a>
		<a href="http://www.sun-sentinel.com/sfl-about-our-ads-htmlstory.html"><span class="hide--mobile">About Our </span>Ads</a>
		<a href="http://www.sun-sentinel.com/sfl-contact-us-20140917-htmlstory.html">Contact Us</a>
	</div>
</footer>