<aside class="twoStack gridWell clearfix">
	<h5>{{ title }}</h5>
	<figure class="gridLayout">
		<img
			class="js-lazy"
			src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
			data-src="{{ data_src }}"
		>
		<figcaption class="caption">{{ caption }}</figcaption>
	</figure>

	<figure class="gridLayout">
		<img
			class="js-lazy"
			src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
			data-src="{{ data_src }}"
		>
		<figcaption class="caption">{{ caption2 }}</figcaption>
	</figure>
</aside>
