<header>
	<div class="nav-holder">
		<div class="nav">
			<div class="inner-nav">
				<i class="nav-bars fa fa-bars" aria-hidden="true"></i>
				<a href="http://www.sun-sentinel.com/"><img class="logo" src="http://interactive.sun-sentinel.com/static/img/sunsentinel-logo-reversed.svg"></a>
				<ul class="nav-root">
					<li class="nav-item">
						<a href="//www.sun-sentinel.com/news/">News</a>
					</li>
					<li class="nav-item">
						<a href="//www.sun-sentinel.com/local/broward">Broward</a>
					</li>
					<li class="nav-item">
						<a href="//www.sun-sentinel.com/local/palm-beach">Palm Beach</a>
					</li>
					<li class="nav-item">
						<a href="//www.sun-sentinel.com/local/miami-dade">Miami-Dade</a>
					</li>
					<li class="nav-item">
						<a href="//www.sun-sentinel.com/classified">Classified</a>
					</li>
					<li class="nav-item">
						<a href="//www.sun-sentinel.com/sports">Sports</a>
					</li>
				</ul>

				<div class="nav-container">
					<div class="nav-label">Series Name</div>
					<ul class="nav-list">
						<li class="nav-item">Subitem 1</li>
						<li class="nav-item">Subitem 2</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="topper">
		<ul class="shareline">
			<li><i data-share="facebook"></i></li>
			<li><i data-share="twitter"></i></li>
			<li><i data-share="email"></i></li>
		</ul>

		<h1>{{ headline }}</h1>
		<h2>{{ intro_text }}</h2>
	</div>

	<div id="byline">
		<p>By <a href="#" target="_blank">{{ byline }}</a></p>
		<p>{{ pub_date }}</p>
	</div>
</header>