<aside class="image--side">
	<figure class="image__caption-and-file">
		<div class="image__ratio-box--16x9">
			<img
				class="image__file js-lazy"
				src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
				alt="{{ alt }}"
				data-srcset="{{ data_srcset }}"
				data-src="{{ data_src }}"
				sizes="{{ sizes }}"
			>
		</div>
		<h4><a href="{{ side_graphic_link }}">{{ side_headline}}</a></h4>
		<figcaption class="caption">{{ caption }}</figcaption>
	</figure>
</aside>